{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "requireConfigFile": false
  },
  "parser": "@babel/eslint-parser"
}