name: Test
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "npm"
      - run: npm ci
      - run: npm test
        env:
          CI: true
      - run: npm run write-docs
      - run: npm run prepublishOnly
